<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0">

    <title> Danet </title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.24/browser.min.js"></script>
    <script type="text/javascript" src="/lib/jquery.min.js"></script>
    <script type="text/javascript" src="/lib/slick.min.js"></script>
    <script type="text/javascript" src="/lib/popper.min.js"></script>
    <script type="text/javascript" src="/lib/bootstrap.min.js"></script>
    <!-- <script type="text/javascript" src="/lib/iscroll.min.js"></script> -->
    <!-- <script type="text/javascript" src="/lib/drawer.min.js"></script> -->
    <script type="text/javascript" src="/lib/pace.min.js"></script>
    <script src="https://imasdk.googleapis.com/js/sdkloader/ima3.js"></script>            
    <script type="text/javascript" src="/lib/video.min.js"></script>
    <script type="text/javascript" src="/lib/hls.min.js"></script>
    <script type="text/javascript" src="/lib/videojs-hlsjs.js"></script>
    <script type="text/javascript" src="/lib/videojs.ads.min.js"></script>    
    <script type="text/javascript" src="/lib/videojs.ima.js"></script>    
    
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <!-- <link rel="stylesheet" type="text/css" href="/css/drawer.min.css" /> -->
    <link rel="stylesheet" type="text/css" href="/css/pace.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/slick.css" />
    <!-- <link rel="stylesheet" type="text/css" href="/css/slick-theme.css" /> -->
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/responsive.css" />
    <link rel="stylesheet" type="text/css" href="/css/video-js.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/videojs.ads.css" />
    <link rel="stylesheet" type="text/css" href="/css/videojs.ima.css" />
    
    <!-- <link rel="stylesheet" type="text/css" href="/font/font-awesome/css/font-awesome.min.css" /> -->
    <link rel="stylesheet" type="text/css" href="/font/pe-icon-7-stroke/css/pe-icon-7-stroke.css" />
</head>

<body>
    <main id="main">
        <%= markup %>
    </main>
    <script src="/js/bundle.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>